{% extends 'main.html' %}

{%block statush %} active {%endblock%}
{%block body_block %}
{% load static %}


<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../media/watch_images/sample4.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../media/watch_images/sample5.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../media/watch_images/sample1.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



{%endblock %}


{%block card_block %}
{% load static %}
<h1 style="font-family: sans-serif; background-color: #222831; color: #e1e1e1; text-align: center; margin: 0px; margin-top: 3px;">New
    Arrivales</h1>
<div class="cards-container">

    {% for item in watches_t %}
        <div class="card" style="width: 18rem;">
            <img src="{{item.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">{{item.description}}</p>
                <h5 class="card-title">{{item.price}}</h5>
                <a href="{% url 'product' id=item.id %}" class="btn">View Product</a>
                <a  class="fa-solid fa-heart ico" href="{% url 'wishlist' id=item.id%}"></a>
                <a class="fa-solid fa-cart-plus ico" href="{% url 'cart' id=item.id%}"></a>
            </div>
        </div>
        {% endfor %}

</div>

{%endblock %}