{% extends 'main.html' %}


{%block body_block %}
{% load static %}


<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'homepage/images/sample1.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'homepage/images/sample2.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'homepage/images/sample3.jpg' %}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev" style="align-items: center; margin-inline-start: -70px;opacity: 0;">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next" style="margin-inline-end: -70px; opacity: 0;">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



{%endblock %}


{%block card_block %}
{% load static %}
<h1 style="font-family: sans-serif; background-color: rgb(127, 195, 255); text-align: center; margin: 10px;">New
    Arrivales</h1>
<div class="cards-container"
    style="display: grid; grid-template-columns: 350px 350px 350px 350px; padding: 20px; margin: 10px;">

    {% for item in watches_t %}
        <div class="card" style="width: 18rem;">
            <img src="{{item.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">{{item.description}}</p>
                <h5 class="card-title">{{item.price}}</h5>
                <a href="{% url 'product' id=item.id %}" class="btn">View Product</a>
                <a  class="fa-solid fa-heart ico" href="{% url 'wishlist' id=item.id%}"></a>
                <a class="fa-solid fa-cart-plus ico" href="{% url 'cart' id=item.id%}"></a>
            </div>
        </div>
        {% endfor %}

</div>

{%endblock %}