{% extends 'main.html' %}


{%block body_block %}

<div class="wrapper">
    <form method="post" class="forms">
        {% csrf_token %}
        <div class="form-grp">{{form.username.label_tag}}{{form.username}}</div>
        <div class="form-grp">{{form.password.label_tag}}{{form.password}}</div>
        <button type="submit" class="btn btn-forms btn-info">Login</button>
        <a type="submit" class="btn btn-forms btn-info" href="{% url 'signup' %}">SignUp</a>
    </form>
</div>




{%endblock %}