{% extends 'main.html' %}

{%block body_block %}

<h5>WishList Items</h5>

<div class="wcard">
    
{% for item in product %}

<div class="card mb-3 " style="max-width: 600px;">
    <div class=" row g-0">
      <div class="col-md-6" >
        <img src="{{item.image.url}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">{{item.description}}</p>
          <p class="card-text"><small class="text-muted">{{item.price}}</small></p>
          <a href="{% url 'removewish' id=item.id%}"><i class="fa-solid fa-heart-circle-minus ico-w"></i></a>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}
</div>

{%endblock %}